<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443202411233-q3nsk7d3s8hsjua9kh1fvt6n0f39aqau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443202411233-q3nsk7d3s8hsjua9kh1fvt6n0f39aqau</string>
	<key>API_KEY</key>
	<string>AIzaSyDhIzJ9ipW2cOKFmXgQcjB7mFG6fCM4bdU</string>
	<key>GCM_SENDER_ID</key>
	<string>443202411233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wi-seong.NOA</string>
	<key>PROJECT_ID</key>
	<string>nftonartist</string>
	<key>STORAGE_BUCKET</key>
	<string>nftonartist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:443202411233:ios:ec6ac053b00621e76ef5a0</string>
</dict>
</plist>
